body {
    font-family: 'Open Sans', sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
}

.middle {
    text-align: center;
}

/* navbar bullet kaldırma */
#navbar {
    list-style-type: none;

}

/* navbar tek satır */
.inline {
    display: inline;
}